@model IEnumerable<Weather_App.Models.Dto.WeatherCurrent.WeatherCurrentDto>

@{
    ViewData["Title"] = "WeatherCurrents";
}

<div class="container">
    @foreach (var locationGroup in Model.GroupBy(w => w.Location?.Name))
    {
        <div>
            <h2 class="user-select-none" role="button" data-bs-toggle="collapse" href="#location-@locationGroup.Key.Replace(" ", "-")">
                @locationGroup.Key
            </h2>
            <div id="location-@locationGroup.Key.Replace(" ", "-")" class="collapse show">
                @foreach (var weather in locationGroup)
                {
                    <div class="card mb-3">
                        <div class="card-header user-select-none" role="button" data-bs-toggle="collapse" data-bs-target="#weather-@weather.Id">
                            <p>@weather.Location?.Localtime.Value.ToShortDateString()<span class="px-2"></span>@weather.Location?.Localtime.Value.ToShortTimeString()</p>
                            <p><img src="@weather.Current?.Condition?.Icon" /> @weather.Current?.TemperatureCelsius&deg;C <span class="float-end"><i class="bi bi-chevron-down"></i></span> </p>
                            <p class="mb-0">UV Index: @weather.Current?.UVIndex<span class="px-2"></span>Humidity: @weather.Current?.Humidity%</p>
                        </div>
                        <div id="weather-@weather.Id" class="collapse">
                            <div class="card-body">
                                <p>Country: @weather.Location?.Country</p>

                                <div class="d-md-inline-block">
                                    <p>Temperature: @weather.Current?.TemperatureCelsius&deg;C<span class="px-1"></span>@weather.Current?.TemperatureFahrenheit&deg;F</p>
                                </div>
                                <div class="d-md-inline-block">
                                    <p class="px-md-4">Feels Like: @weather.Current?.FeelsLikeTemperatureCelsius&deg;C<span class="px-1"></span>@weather.Current?.FeelsLikeTemperatureFahrenheit&deg;F</p>
                                </div>
                                
                                <p>Wind Speed: @weather.Current?.WindKPH km/h<span class="px-1"></span>@weather.Current?.WindMPH mph</p>
                                <p>Pressure: @weather.Current?.PressureMilibars hPa</p>
                                <p>Visibility: @weather.Current?.VisibilityKilometers km</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/collapse.js"></script>
}